<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operations</title>
</head>
<body>

<form action="{% url 'find_similar' %}" method="post">
    {% csrf_token %}
    <p><b>Select the file to find similar to the the given (if nothing selected, will return all list):</b></p>
    <label for="file_path">Path to file:</label>
    <input type="text" id="file_path" name="file_path" required placeholder="path/to/file"><br><br>
    <label for="limit">Number of similar items:</label>
    <input type="number" id="limit" name="limit" max="10" required placeholder="10"><br><br>
    <input type="submit" value="Find similar">
</form>
<br><br>
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="home">
</form>
<br><br>
{% for f_name, path in songs_list %}
    <li>File name: {{ f_name }} -- path: {{ path }} </li><br>
{% endfor %}

</body>
</html>